@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">Screenings</a></li>
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Movies">Movies</a></li>
</ul>

