body {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-right: 10px;
  background-color: #444444;

  color: white;
}
.contrast-text {
  color: black;
}
.button {
  background-color: #9b5e5e; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #333333;
}

.calendarDividerRow {
  margin-top: 10%;
}

/* QR code generator */
a {
  color: #9b5e5e;
}
a:hover {
  color: #ffaaaa;
}
.btn {
  color: #9b5e5e;
}
.active a {
  background-color: #9b5e5e !important;
}
#calendar {
}

#seats {
  width: 100%;
  text-align: center;
}

#seats > div {
  width: 7.9%;
  font-size: 2dip;
  color: white;
  background-color: darkgreen;
  display: inline-block;
  margin: 0.2%;
  cursor: pointer;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
