@page
@model CreateReservationModel
@{
    ViewData["Title"] = "Create a reservation";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<div id="calendar"></div>
<p>This is where we'll have the reservations and stuff.</p>
