@page
@model IndexModel
@{
    ViewData["Title"] = "VIA Movies";
}

<div class="row">
    <div class="col-md-4">
      <h2><a asp-page="CreateReservation">Create a new reservation</a></h2>
        <ul>
        </ul>
    </div>
     <div class="col-md-4">
    </div>
    <div class="col-md-4" id="showReservationsPrompt">
        <h2><a asp-page="ShowReservations">Show your reservations</a></h2>
        <ul>
           
        </ul>
    </div>
</div>

<div class="calendarDividerRow">
    <div class="row">
        <div class="col-md-4">
    </div>
    <div class="col-md-4">
          <h3>Currently scheduled screenings</h3>
    </div>
    <div class="col-md-4">
    </div>
  
    </div>
    <div id="calendar"></div>
    </div>
</div>

