@page
@model TicketsModel
@{
    ViewData["Title"] = "Tickets";
}
@{
    var tickets = Model.getTickets();
}

<h4>Your reserved tickets</h4>
<div class="row">
    <div class="col-md-9">
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Seat</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < tickets.Count; i++)
            {
                <tr>
                <td>@(i+1)</td>
                <td>@tickets[i].Screening.Date.ToString("dd-MM-yyyy HH':'mm")</td>
                <td>@tickets[i].Screening.Movie.Title</td>
                <td>@tickets[i].Seat</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
